@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display:"Inconsolata", sans-serif;
  --font-logo:"Macondo";
}
.typewriter {
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; 
  border-right: 1px solid orange;
  animation: 
    typing 2s steps(70, end),
    cursor .4s step-end infinite alternate;
    animation-delay: 2s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes cursor {
  50% { border-color: orange; }
}