@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-display:"Inconsolata", sans-serif;
  --font-logo:"Macondo";
}
.typewriter,
.typewriter-1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
  display: inline-block;
}


.typewriter {
  animation:
    typing-hello 2s steps(15, end) 0s forwards, 
    cursor .6s step-end infinite alternate 2s; 
}


.typewriter-1 {
  animation:
    typing 5s steps(40, end), 
    cursor .6s step-end infinite alternate 5.5s;
}

@keyframes typing-hello {
  from {width:0;}
  to {width:25%;}
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@media (max-width:769px){
  @keyframes typing {
    from {width: 0;}
    to {width: 90%;}
  }
}
@keyframes cursor {
  50% { border-color: orange; }
}
