@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import "tailwindcss";
@theme {
  --font-display:"Inconsolata", sans-serif;
  --font-logo:"Macondo";
}
.typewriter {
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}